@import '@/style/variables.scss';

div {

    display: flex;
    flex-wrap: wrap;

    ul {
        color: $light-gray;
        padding: 0;
        margin-right: 40px;
        margin-top: 20px;

        li {

            font-size: 12px;
            margin-bottom: 8px;

            &:first-child {
                font-size: 22px;
                color: $white;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }
    }
}