@import '@/style/variables.scss';

header {
    background-color: $white;
    padding: 10px 0;

    .container {

        display: flex;
        height: 70px;
        align-items: center;

        .header-left {

            width: 50%;
            height: 100%;

            img {
                height: 60px;
            }

        }

        .header-right {

            display:flex;
            align-items: center;
            justify-content: center;

            ul {

                display: flex;
                align-items: center;
                margin: 0;

                li {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    padding: 0 20px;
                    font-size: 14px;



                    a {
                        color: inherit;
                        text-decoration: inherit;

                        &:hover {
                            border-bottom: 4px solid $primary-color;
                        }
                    }

                }



            }

        }


    }
}