@import '@/style/variables.scss';

main {
    background-color: $main-color;



    .container {

        .current-series {

            display: inline;
            padding: 10px 18px;
            background-color: $primary-color;
            position: relative;
            top: -10px;
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
    
        }

        .row {

            .col-2 {

                .card-box {
                    height: 300px;
                    .card-img {
                        height: 70%;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    p {
                        height: 30%;
                        padding-top: 10px;
                        color: $white;
                    }
                }
            }
        }
    }
}