@import '@/style/variables.scss';

main {
    background-color: $main-color;

    .container {

        .row {

            .col-2 {

                .card-box {
                    height: 300px;
                    .card-img {
                        height: 70%;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    p {
                        height: 30%;
                        padding-top: 10px;
                        color: $white;
                    }
                }
            }
        }
    }
}